Repository BondarEgor/photo-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
	"*.ts": [
		"eslint --fix",
		"prettier --write"
	],
	"*.scss": [
		"stylelint --fix",
		"prettier --write"
	],
	"*.{json,md,html}": [
		"prettier --write"
	]
}

feat: setup commit
  .eslintignore
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  .stylelintrc.json
  commitlint.config.js
  eslint.config.js
  package.json
  src/app/app.component.ts
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix:rm vscode
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
Due: prettier --write

feat: fix
  README.md
  angular.json
  package-lock.json
  package.json
Due: prettier --write

fix: added hooks
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  tsconfig.spec.json
Due: prettier --write

feat: migration from karma to jest
  .husky/pre-push
  angular.json
  jest.config.json
  package.json
  tsconfig.json
Due: prettier --write

feat: added header component
  .stylelintrc.json
  angular.json
  package-lock.json
  package.json
  src/app/active/active.component.html
  src/app/active/active.component.spec.ts
  src/app/active/active.component.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/favorite/favorite.component.html
  src/app/favorite/favorite.component.spec.ts
  src/app/favorite/favorite.component.ts
  src/app/header/header.component.html
  src/app/header/header.component.scss
  src/app/header/header.component.spec.ts
  src/app/header/header.component.ts
  src/app/header/nav-links.constants.ts
  src/app/nav-link/nav-link.component.html
  src/app/nav-link/nav-link.component.scss
  src/app/nav-link/nav-link.component.ts
  src/app/nav-link/types.ts
  src/index.html
  src/mixins/mixins.scss
  src/reset.scss
  src/styles.scss
  src/variables/_variables.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: added header component
  src/app/header/header.component.spec.ts
Due: eslint --fix, prettier --write

fix: 1-header-component mixins
  src/app/active/active.component.ts
  src/app/favorite/favorite.component.ts
  src/app/header/header.component.scss
  src/app/header/nav-links.constants.ts
  src/mixins/mixins.scss
  src/styles.scss
  src/variables/variables.scss
Due: eslint --fix, prettier --write, stylelint --fix
